<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title></title>
    <style type="text/css">
        BODY {
            background: white;
        }
    </style>
</head>

<body>
<span></span>

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid ">
        <b class="navbar-brand">
            <!--sec:authentication="name"-->
            <span id="navName"></span></b>
        <span class="navbar-brand" id="userRoles"
              th:utext="' with roles: ' + ${user.rolesToString()}"></span>

        <div class="collapse navbar-collapse show" id="navbarDark">
            <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
            <!--            <input form="logout" type="submit" value="Logout">
                        <form id="logout" th:action="@{/logout}" method="post">
                        </form>-->
        </div>
    </div>
</nav>


<div class="container-fluid bg-light ">
    <div class="row ">

        <div class="d-flex vh-100">
            <div class="col-sm-2 p-3 bg-white">
                <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin"
                       role="tab"
                       aria-controls="v-pills-admin" aria-selected="true" sec:authorize="hasRole('ADMIN')">Admin</a>

                    <a th:class="${#authorization.expr('hasRole(''ADMIN'')')} ? 'nav-link' : 'nav-link active'"
                       th:aria-selected="${#authorization.expr('hasRole(''ADMIN'')')} ? false : true"
                       id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
                       aria-controls="v-pills-user" sec:authorize="hasAnyRole('ADMIN', 'USER')">User</a>
                </div>
            </div>

            <div class="col p-4">
                <div class="tab-content" id="v-pills-tabContent">
                    <div th:class="${#authorization.expr('hasRole(''ADMIN'')')} ? 'tab-pane fade show active' :  'tab-pane fade'"
                         id="v-pills-admin" role="tabpanel"
                         aria-labelledby="v-pills-admin-tab" sec:authorize="hasRole('ADMIN')">
                        <h2>Admin panel</h2>
                        <br>
                        <div>
                            <nav class="nav nav-tabs " id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-admin-tab" data-bs-toggle="tab" href="#nav-admin"
                                   role="tab"
                                   aria-controls="nav-admin" aria-selected="true">Users table</a>
                                <a class="nav-link" id="nav-user-tab" data-bs-toggle="tab" href="#nav-user" role="tab"
                                   aria-controls="nav-user" aria-selected="false">New user</a>
                            </nav>
                            <div class="tab-content card" id="nav-tabContent ">
                                <div class="tab-pane fade show active" id="nav-admin" role="tabpanel"
                                     aria-labelledby="nav-admin-tab">
                                    <div class="card-header bg-light"><b>All users</b></div>
                                    <div class="p-3">
                                        <table class="table caption-top table-striped bg-white">
                                            <thead>
                                            <tr>
                                                <th scope="col" style="text-align: center">ID</th>
                                                <th scope="col" style="text-align: center">First name</th>
                                                <th scope="col" style="text-align: center">Last name</th>
                                                <th scope="col" style="text-align: center">Age</th>
                                                <th scope="col" style="text-align: center">Email</th>
                                                <th scope="col" style="text-align: center">Role</th>
                                                <th scope="col" style="text-align: center">Edit</th>
                                                <th scope="col" style="text-align: center">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="users-table-rows">


                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab"
                                     sec:authorize="hasRole('ADMIN')">
                                    <div th:align="center">
                                        <form method="POST" id="create" action="/admin">
                                            <div class="card-header bg-light" th:align="left"><b>Add new user</b></div>
                                            <br>
                                            <label for="firstName"
                                                   style="display: inline-block; width: 150px">First name</label>
                                            <div class="col-md-3">
                                                <input name="firstName" type="text" id="firstName"
                                                       class="form-control form-control-sm" placeholder="First name"
                                                       required>
                                            </div>
                                            <br>
                                            <label for="lastName"
                                                   style="display: inline-block; width: 150px">Last name</label>
                                            <div class="col-md-3">
                                                <input name="lastName" type="text" id="lastName"
                                                       class="form-control form-control-sm" placeholder="Last name"
                                                       required>
                                            </div>
                                            <br>
                                            <label for="age"
                                                   style="display: inline-block; width: 150px">Age</label>
                                            <div class="col-md-3">
                                                <input name="age" type="number" id="age"
                                                       class="form-control form-control-sm" placeholder="Age" required>
                                            </div>
                                            <br>
                                            <label for="user_name"
                                                   style="display: inline-block; width: 150px">Email</label>
                                            <div class="col-md-3">
                                                <input name="user_name" type="email" id="user_name"
                                                       class="form-control form-control-sm"
                                                       placeholder="name@example.ru"
                                                       required>
                                            </div>
                                            <br>
                                            <label for="password"
                                                   style="display: inline-block; width: 150px">Password</label>
                                            <div class="col-md-3">
                                                <input name="password" type="password" id="password"
                                                       class="form-control form-control-sm" placeholder="Password"
                                                       required>
                                            </div>

                                            <br>
                                            <div class="col-md-3">
                                                <select class="form-select" name="roles" multiple
                                                        aria-label="multiple select">
                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                    <option value="ROLE_USER">USER</option>
                                                </select>
                                            </div>
                                            <input class="btn btn-success" id="addbut" style="margin: 20px"
                                                   type="submit"
                                                   value="Add new user">
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:class="${#authorization.expr('hasRole(''ADMIN'')')} ? 'tab-pane fade' :  'tab-pane fade  show active'"
                         id="v-pills-user" role="tabpanel"
                         aria-labelledby="v-pills-user-tab">
                        <h2>User information page</h2>
                        <br>
                        <div>
                            <div class="tab-content card" id="info-user" role="tabpanel">

                                <div class="card-header bg-light"><b>About user</b></div>
                                <div class="p-3">
                                    <table class="table caption-top table-striped bg-white">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center">ID</th>
                                            <th scope="col" style="text-align: center">First name</th>
                                            <th scope="col" style="text-align: center">Last name</th>
                                            <th scope="col" style="text-align: center">Age</th>
                                            <th scope="col" style="text-align: center">Email</th>
                                            <th scope="col" style="text-align: center">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody id="user-table-row">
                     <!--                   <tr sec:authorize="hasRole('USER')">
                                            <td style="text-align:center" th:utext="${user.getUserId()}">...</td>
                                            <td style="text-align:center" th:utext="${user.getFirstName()}">...</td>
                                            <td style="text-align:center" th:utext="${user.getLastName()}">...</td>
                                            <td style="text-align:center" th:utext="${user.getUserAge()}">...</td>
                                            <td style="text-align:center" th:utext="${user.getUsername()}">...</td>
                                            <td style="text-align:center" th:utext="${user.rolesToString()}">...
                                            </td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>

                                <br/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-light">
    <form id="delForm" method="POST" action="/delete">
    </form>


    <!-- Modal -->
    <form id="editForm1" method="POST" action="/admin/update">

        <div class="modal fade" id="myModal" tabindex="-1"
             aria-labelledby="myModalLabel" aria-hidden="true"
             data-bs-backdrop="static" data-bs-keyboard="false" style="display: none;"
             role="document">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">
                        </h5>
                        <p type="button" class="close ms-auto"
                           data-bs-dismiss="modal"
                           aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </p>
                    </div>
                    <div class="modal-body mx-auto">

                        <div sec:authorize="hasRole('ADMIN')"
                             style="align-items: center">
                            <input id="mainUserName" th:type="hidden"
                                   th:name="userName"
                                   class="form-control"
                                   type="text"
                                   aria-label=".form-control-sm">

                            <label for="modalId"
                                   style="display: inline-block;  ">ID</label>
                            <input id="modalId"
                                   disabled class="form-control"
                                   type="text"
                                   aria-label=".form-control">
                            <br>
                            <label for="modalFirstName"
                                   style="display: inline-block; ">First
                                name</label>
                            <input id="modalFirstName"
                                   name="newFirstName"
                                   class="form-control"
                                   type="text"
                                   aria-label=".form-control-sm"
                                   required>
                            <br>
                            <label for="modalLastName"
                                   style="display: inline-block;">Last
                                name</label>
                            <input id="modalLastName"
                                   name="newLastName"
                                   class="form-control"
                                   type="text"
                                   aria-label=".form-control-sm"
                                   required>
                            <br>
                            <label for="modalAge"
                                   style="display: inline-block; ">Age</label>
                            <input id="modalAge"
                                   name="newAge"
                                   class="form-control"
                                   type="number"
                                   aria-label=".form-control-sm"
                                   required>
                            <br>
                            <label for="modalUserName"
                                   style="display: inline-block;">Email</label>
                            <input id="modalUserName"
                                   name="newName"
                                   class="form-control needs-validation"
                                   type="email"
                                   aria-label=".form-control-sm"
                                   required>
                            <br>
                            <label id="modalPassLabel" for="modalPass"
                                   style="display: inline-block;">Password</label>
                            <input id="modalPass"
                                   name="newPassword"
                                   class="form-control"
                                   type="password"
                                   aria-label=".form-control-sm">
                            <br>
                            <p style="text-align: center">Role:</p>

                            <select class="form-select form-select-sm"
                                    id="modalRoles"
                                    name="roles" multiple
                                    aria-label="multiple select">
                                <option value="ROLE_ADMIN">ADMIN
                                </option>
                                <option value="ROLE_USER">USER</option>
                            </select>
                            <br/>

                        </div>
                    </div>
                    <div class="modal-footer modal-dialog-right">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close
                        </button>
                        <button id="modalDeleteButton" name="del"
                                form="delForm" type="submit"
                                class="btn btn-danger"
                                th:value="${user.getUserId()}">
                            Delete
                        </button>
                        <button id="modalEditButton" type="submit"
                                class="btn btn-primary" data-bs-dismiss="modal">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <!-- //Modal -->
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"
        integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D"
        crossorigin="anonymous"></script>

<script>
    const usersTableId = document.getElementById("users-table-rows");
    const userTableId = document.getElementById("user-table-row");

    navName();
    getAllUsers();
    getUser();

    function navName() {
        fetch('/admin/user').then(function (response) {
            response.json().then(user => document.getElementById('navName').innerText = user.user_name);
        })
    }

    function getAllUsers() {
        usersTableId.innerText = '';
        fetch('/admin/users').then(function (response) {
            response.json().then(users => {
                users.forEach(user => {
                    _appendUserRow(user);
                });
            });
        });
    }

    function getUser() {
        fetch('/admin/user').then(function (response) {
                response.json().then(function (user) {
                    userTableId.innerHTML = '';
                    _appendUser(user)
                });
            }
        )
    }


    function _appendUserRow(user) {

        const editButAttributes = {
            id: "editButt",
            type: "button",
            class: "btn btn-primary",
            "data-bs-toggle": "modal",
            "data-bs-target": "#myModal"
        };

        const deleteButAttributes = {
            id: "delete",
            type: "button",
            class: "btn btn-danger",
            "data-bs-toggle": "modal",
            "data-bs-target": "#myModal"
        };

        const editButt = document.createElement("button");
        editButt.innerText = "Edit";
        for (const key in editButAttributes) {
            if (editButAttributes.hasOwnProperty(key)) {
                editButt.setAttribute(key, editButAttributes[key]);
            }
        }


        const deleteButt = document.createElement("button");
        deleteButt.innerText = "Delete";
        for (const key in deleteButAttributes) {
            if (deleteButAttributes.hasOwnProperty(key)) {
                deleteButt.setAttribute(key, deleteButAttributes[key]);
            }
        }

        const row = usersTableId.insertRow();
        row.setAttribute("style", "text-align: center")
        row.setAttribute("sec:authorize", "hasRole('ADMIN')");
        row.setAttribute("id", "row" + user.userId);
        row.insertCell()
            .appendChild(document.createTextNode(user.userId));
        row.insertCell()
            .appendChild(document.createTextNode(user.firstName));
        row.insertCell()
            .appendChild(document.createTextNode(user.lastName));
        row.insertCell()
            .appendChild(document.createTextNode(user.userAge));
        row.insertCell()
            .appendChild(document.createTextNode(user.user_name));
        row.insertCell()
            .appendChild(document.createTextNode(user.roles.map(role => role.name)));
        row.insertCell().appendChild(editButt);
        row.insertCell().appendChild(deleteButt);
        editButt.setAttribute('usrname', user.user_name);
        deleteButt.setAttribute('usrname', user.user_name);
    }

    function _appendUser(user) {
        const row = userTableId.insertRow();
        row.setAttribute("style", "text-align: center")
        row.setAttribute("sec:authorize", "hasAnyRole('ADMIN', 'USER')");
        row.setAttribute("id", "row" + user.userId);
        row.insertCell()
            .appendChild(document.createTextNode(user.userId));
        row.insertCell()
            .appendChild(document.createTextNode(user.firstName));
        row.insertCell()
            .appendChild(document.createTextNode(user.lastName));
        row.insertCell()
            .appendChild(document.createTextNode(user.userAge));
        row.insertCell()
            .appendChild(document.createTextNode(user.user_name));
        row.insertCell()
            .appendChild(document.createTextNode(user.roles.map(role => role.name)));
    }

    document.getElementById('myModal').addEventListener('show.bs.modal', function (e) {
        const but = e.relatedTarget;

        const modalLabel = document.getElementById('myModalLabel');
        const mainUserName = document.getElementById('mainUserName');
        const modalId = document.getElementById('modalId');
        const modalFirstName = document.getElementById('modalFirstName');
        const modalLastName = document.getElementById('modalLastName');
        const modalAge = document.getElementById('modalAge');
        const modalUserName = document.getElementById('modalUserName');
        const modalPass = document.getElementById('modalPass');
        const modalRoles = document.getElementById('modalRoles');

        let elDis;

        if (but.innerText === 'Edit') {
            elDis = false;
            modalLabel.innerText = "Edit user";
            document.getElementById("modalEditButton").classList.add('d-block');
            document.getElementById("modalEditButton").classList.remove('d-none');
            document.getElementById("modalDeleteButton").classList.add('d-none');
            document.getElementById("modalDeleteButton").classList.remove('d-block');
        } else {
            elDis = true
            modalLabel.innerText = "Delete user";
            modalPass.classList.add('d-none');
            document.getElementById("modalPassLabel").classList.add('d-none');
            document.getElementById("modalEditButton").classList.add('d-none');
            document.getElementById("modalEditButton").classList.remove('d-block');
            document.getElementById("modalDeleteButton").classList.add('d-block');
            document.getElementById("modalDeleteButton").classList.remove('d-none');
        }
        mainUserName.disabled = elDis;
        modalFirstName.disabled = elDis;
        modalLastName.disabled = elDis;
        modalAge.disabled = elDis;
        modalUserName.disabled = elDis;
        modalPass.disabled = elDis;
        modalRoles.disabled = elDis;

        fetch('/admin/edit/' + but.getAttribute('usrname'))
            .then(function (response) {
                response.json().then(function (user) {

                        mainUserName.value = user.user_name;
                        modalId.value = user.userId;
                        modalFirstName.value = user.firstName;
                        modalLastName.value = user.lastName;
                        modalAge.value = user.userAge;
                        modalUserName.value = user.user_name;
                    }
                )
            })
    })


</script>


<script>
    const formNewUser = document.getElementById('create');

    formNewUser.addEventListener('submit', function (event) {
            event.preventDefault();
            const formDataNew = new FormData(formNewUser);
            fetch('/admin', {
                method: 'POST',
                body: formDataNew
            }).then(response => {
                if (response.ok) {
                    document.getElementById('nav-admin-tab').click();
                    getAllUsers();
                    document.getElementById('create').reset();
                }
            });
        }
    );
</script>


<script>
    const form = document.getElementById('editForm1');

    form.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(form);
            fetch('/admin/update', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    usersTableId.innerHTML = '';
                    getAllUsers();
                }
            });
        }
    );
</script>

<script>
    const form1 = document.getElementById('delForm');

    form1.addEventListener('submit', function (event) {
        event.preventDefault();
        const delformData = new FormData();
        delformData.append('del', document.getElementById('modalId').value);

        fetch('/delete', {
            method: 'POST',
            body: delformData
        }).then(response => {
            if (response.ok) {
                delRow('row' + document.getElementById('modalId').value)
            }
        });
    });

</script>

<script>
    function delRow(rowId) {
        document.getElementById(rowId).remove();
    }
</script>

</body>
</html>
