<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <style type="text/css">
        BODY {
            background: white;
        }
        DIV {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;

        }
        TABLE {
            border-collapse: collapse;
            border: 2px solid white;
            margin-left: auto;
            margin-right: auto;
        }
        TD, TH {
            padding: 3px;
            border: 1px solid maroon;
            text-align: left;

        }
    </style>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')">
    <p style="text-align: center"><b>Edit User:</b></p>
    <p style="text-align: center">User name:</p>
    <p style="text-align:center" th:utext="${user.getUsername()}">...</p>
    <p style="text-align: center">User password:</p>
    <p style="text-align:center" th:utext="${user.getPassword()}">...</p>
    <p style="text-align: center">User roles:</p>
    <p style="text-align:center" th:utext="${user.rolesToString()}">...</p>
    <br/>
    <div th:align="center">
    <form th:method="POST" id="editForm" th:action="@{/admin/edit}"  th:object="${user}">
        <input th:type="hidden" th:name="userName"  th:value="*{getUsername()}" type="text" id="userName">
        <br>
        <label for="newName"  style="display: inline-block; width: 70px">New name</label>
        <input th:name="newName" type="text" id="newName">
        <br>
        <label for="newPassword" style="display: inline-block; width: 70px">New password</label>
        <input th:name="newPassword"  type="text" id="newPassword"><br>
        <br>
        <input type="checkbox" id="roles" name="roles" value="ROLE_USER">
        <label for="roles" style="display: inline-block; width: 70px"> USER (default)</label>
        <input type="checkbox" id="roles2" name="roles" value="ROLE_ADMIN">
        <label for="roles2" style="display: inline-block; width: 70px"> ADMIN </label>
        <input type="checkbox" id="roles3" name="roles" value="ROLE_CREATOR">
        <label for="roles3" style="display: inline-block; width: 70px"> CREATOR </label><br>
        <br>
        <input type="submit" value="Update user">
    </form>
        </div>
    <br/>
    <div th:align="center">
        <input form="logout" type="submit" value="Logout" >
        <form id="logout" th:action="@{/logout}" method="post">
        </form>
    </div>
    <form id="delForm" method="POST" action="/delete">
    </form>
</div>

</body>
</html>